<!--Página Login del menú Conductor-->

<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-image no-scroll" padding>
  <ion-card class="ion-text-center card" >
    <ion-card-header>
      <ion-card-subtitle>TeLlevoAPP</ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        <h3>Menu Principal</h3>
       </ion-card-content>
     </ion-card>


<form [formGroup]="usuario" id="formLogin">
  <div>
    <ion-item class="formDetails">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input  type="text" formControlName="user"></ion-input>
    </ion-item>
    <ion-item class="formDetails">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="pass"></ion-input>
    </ion-item>
    </div>

    <br>
    <br>

    <div  class="recoverDetails">
    <div>  
      <ion-button expand="block" type="ion-button" [disabled]="!usuario.valid" (click)="InfoaMconductor()" routerDirection="forward ">Iniciar sesión</ion-button>
      <ion-button expand="block"  size="small" color="danger" type="summit" fill="clear" class=" recover-block helper normal-text" routerLink="/restablecer">Restablecer contraseña</ion-button>
      <ion-button expand="block" type="ion-button"   routerDirection="forward" routerLink="/registrar">Registrar</ion-button>
    </div>
  </div>
    
</form>

</ion-content>

<ion-footer class="ion-text-center" collapse="fade">
  <ion-toolbar>     
    <ion-title  size="small"><ion-icon name="logo-linkedin"></ion-icon> <ion-icon name="logo-instagram"></ion-icon>{{value}}</ion-title>
  </ion-toolbar>
</ion-footer>