<!--Página Login del menú Conductor-->

<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="bg-image no-scroll" padding>
  <ion-card class="ion-text-center card">
    <ion-card-header>
      <ion-card-title class="header-text">
        <h1>TeLlevoAPP</h1>
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content  class="header-text">
     <h3>Menú Conductor</h3>
    </ion-card-content>
  </ion-card>

 
<form [formGroup]="usuario" id="formLogin">
  <div >
    <ion-item class="formDetails" >
      <ion-label position="center" color="lig">Usuario</ion-label>
      <ion-input  type="text" formControlName="userc" ></ion-input>
    </ion-item>
    <ion-item class="formDetails">
      <ion-label position="center">Contraseña</ion-label>
      <ion-input type="password" formControlName="passc"></ion-input>
    </ion-item>
    </div>

    <div id="footerDetails">
      <ion-button expand="full"  type="submit" [disabled]="!usuario.valid" routerLink="/home">RouterLink</ion-button>
    </div>
    <div >
      <ion-button expand="full"  type="submit" [disabled]="!usuario.valid" (click)="InfoaMconductor()" routerDirection="forward">Programacion</ion-button>
    </div>
    <div class="recover-pass-text"><a href="#">¿Olvidaste tu contraseña?</a></div>
</form>

</ion-content>

<ion-footer class="ion-text-center" collapse="fade">
  <ion-toolbar>     
    <ion-title  size="small"><ion-icon name="logo-linkedin"></ion-icon> <ion-icon name="logo-instagram"></ion-icon>{{value}}</ion-title>
  </ion-toolbar>
</ion-footer>